/*
 *  global
 */
#tl_navigation {
  a.group-qgis {
    background: url("../img/map.svg") 3px 2px no-repeat;
    background-size: 13px 13px;
  }
}

$gqis-layers-color: #b7ebff;
$gqis-styles-color: #ffdfbf;
$gqis-zoom-color: #d4ffb7;

// tips ändern
.tl_tip {
  color: #2f9f00;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  height: auto;
  white-space: normal;
}

/***********************************************************************************/

// Test zum formatieren ganzer Tabellenzeilen mit Elementen mit Status 'used'
tr.hover-row:has(span.used) {
  //background-color: rgb(255 206 216) !important;
}

/*--------------------------------------------------------------------------
  Frontend map
 --------------------------------------------------------------------------*/
.map-wrapper {
  display: flex;
  gap: 0.5rem;
  //width:100%;
  margin-bottom:1rem;
  //aspect-ratio:1/1;

  .map {
    flex: 0 0 75%;
    position: relative;
    aspect-ratio: 1.3;
    border:3px solid #e0e0e0;
    border-radius:0.5rem;
  }

  [id$="-feature-list"] {
    flex: 0 1 25%;
    border: 3px solid #e0e0e0;
    border-radius:0.5rem;
    overflow: scroll;
    padding: 1rem;

    div {
      font-size: 0.8rem;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      padding: 2px 4px 0 4px;
      margin-bottom: 2px;
      cursor: pointer;

      &::first-letter { font-weight: bold; }

      &:hover {
        background: #e0e0e0;
      }
    }
  }
}

/*--------------------------------------------------------------------------
  edit mode tl_qgis_map
 --------------------------------------------------------------------------*/
form#tl_qgis_map {

  // rowWizard layers = Ebenen
  table#ctrl_layers {
    tbody {
      vertical-align: top;
      tr {
        td:has([id$="[zoom]"]) { width: 15%; }
      }
    }

    *[id$="[layer]"],
    *[id$="[style]"] ~ div.choices__list,
    *[id$="[zoom]"] { border: none; }

    *[id$="[layer]"] { background-color: $gqis-layers-color; }
    *[id$="[style]"] ~ .choices__list { background-color: $gqis-styles-color; width: 100%; }
    *[id$="[zoom]"] { background-color: $gqis-zoom-color; width: 100%; }
  }

  .olmap_widget {
    background-color: var(--form-bg);
    border: 1px solid var(--form-border);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin: 3px 0;
    padding: 5px 6px 6px;

    aspect-ratio: 1;
    width: 100%;
    //height: 100%;

    [id^="olmap-"] {
      aspect-ratio: 1;
    }
  }
}

/*--------------------------------------------------------------------------
  edit mode tl_qgis_layer
 --------------------------------------------------------------------------*/
form#tl_qgis_layer {

  // tips ändern
  .tl_tip {
    color: #2f9f00;
    margin-top: 0.5rem;
  }

  // rowWizard features = Eigenschaften / Vektordaten
  table#ctrl_features {
    tbody {
      vertical-align: top;

      tr {
        td:has([id$="[zoom]"]) {
          width: 15%;
        }
      }
    }

    *[id$="[feature]"] ~ div.choices__list,
    *[id$="[style]"] ~ div.choices__list,
    *[id$="[zoom]"] {
      border: none;
    }

    *[id$="[feature]"] ~ .choices__list {
      background-color: $gqis-layers-color;
    }

    *[id$="[style]"] ~ .choices__list {
      background-color: $gqis-styles-color;
      width: 100%;
    }

    *[id$="[zoom]"] {
      background-color: $gqis-zoom-color;
      width: 100%;
    }
  }
}

/*--------------------------------------------------------------------------
  edit mode tl_qgis_feature
 --------------------------------------------------------------------------*/
form#tl_qgis_feature {

  // tips ändern
  .tl_tip {
    color: #2f9f00;
    margin-top: 0.5rem;
  }

  .drop_widget {
    background-color: var(--form-bg);
    border: 1px solid brown;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    min-height: 30px;
    margin: 3px 0;
    padding: 5px 6px 6px;
  }

  // rowWizard geometry
  table#ctrl_geometry {
    //border: 1px solid var(--form-border);
    //border-radius: 1rem;
    tbody {
      vertical-align: top;
    }

    *[id^="ctrl_type"],
    *[id^="ctrl_coordinates"] {
      border: none;
      background-color: #F6F6F8;
    }

    td:has(>[id$="[type]"])         { width: 15%; select    { background-color: #ecf4ff; }}
    td:has(>[id$="[coordinates]"])  { width: 85%; textarea  { background-color: #ffecec; }}
  }
}
